# Programs on Formula Evaluation

## Exercise 1

**Print the results of all arithmetic operations on two given numbers.**  

**Sample I/O**  

***Input1:***  
10  
3<br>***Output1:***  
Sum of 10 and 3 is: 13  
Difference between 10 and 3 is: 7  
Product of 10 and 3 is: 30  
Actual Quotient when 10 is divided by 3 is: 3.3333333  
Floored Quotient when 10 is divided by 3 is: 3  
Remainder when 10 is divided by 3 is: 1  
10 to the power of 3 is: 1000  


***Input2:***  
15  
4<br>***Output2:***  
Sum of 15 and 4 is: 19  
Difference between 15 and 4 is: 11  
Product of 15 and 4 is: 60  
Actual Quotient when 15 is divided by 4 is: 3.75  
Floored Quotient when 15 is divided by 4 is: 3  
Remainder when 15 is divided by 4 is: 3  
15 to the power of 4 is: 50625

In [19]:
a = int(input("enter first number = "))
b = int(input("enter second number = "))
sum = a + b
diff = a - b
product = a * b
differenc = a / b
floore = a // b
remainder = a % b
power = a ** b
print("the sum of the number",a,"and",b,"is :",sum)
print("the difference between",a,"and",b,"is:",diff)
print("the product of",a,"and",b,"is :",product)
print("number",a,"is divided by",b,"is :",differenc)
print("number",a,"is divided by",b,"is :",floore)
print("remainder of",a,"and",b,"is :",remainder)
print(a,"to the power",b,"is : ",power)

enter first number = 10
enter second number = 3
the sum of the number 10 and 3 is : 13
the difference between 10 and 3 is: 7
the product of 10 and 3 is : 30
number 10 is divided by 3 is : 3.3333333333333335
number 10 is divided by 3 is : 3
remainder of 10 and 3 is : 1
10 to the power 3 is :  1000

In [15]:
3//2

1

# Exercise 2

**Find out the *area* and *perimeter* of a  square.**  

To find out *area* and *perimeter* of a square we need *side length* of that square  

**Sample I/O**  

***Input1:***  
10  
***Output1:***  
Area of a square with side value 10 is 100  
Perimeter of a square with side value 10 is 40  


***Input2:***  
7<br>***Output2:***  
Area of a square with side value 7 is 49  
Perimeter of a square with side value 7 is 28

In [27]:
s = int(input("enter the side value : "))
area = s*s
primeter = 4*s
print("Area of a square with side value",s,"is : ",area)
print("Perimeter of a square with side value",s,"is :",primeter)

enter the side value : 7
Area of a square with side value 7 is :  49
Perimeter of a square with side value 7 is : 28

## Exercise 3

**Find out the *area* and *perimeter* of a  rectangle.**  

To find out *area* and *perimeter* of a rectangle we need *length* and *breadth* of that rectangle  

**Sample I/O**  

***Input1:***  
3<br>
4<br>
***Output1:***  
Area of a rectangle with length 3 and breadth 4 is: 12  
Perimeter of a rectangle with length 3 and breadth 4 is: 14  


***Input2:***  
15  
18  
***Output2:***  
Area of a rectangle with length 15 and breadth 18 is: 270  
Perimeter of a rectangle with length 15 and breadth 18 is: 66

In [29]:
a = int(input("enter the length of the rectangle"))
b = int(input("enter the breardth of the rectangle"))
area = a*b
p = 2*(a+b)
print("area of the rectangle",area)
print("perimeter of a rectangle",p)

enter the length of the rectangle15
enter the breardth of the rectangle18
area of the rectangle 270
perimeter of a rectangle 66

## Exercise 4

**Find out the *sum of first n natural numbers.***  

**Example:**  
If n value is 5, then first 5 natural numbers are 1, 2, 3, 4, 5  
and their sum 1 + 2 + 3 + 4 + 5 is 15.


**Sample I/O**  

***Input1:***  
10  
***Output1:***  
Sum of first 10 natural numbers is: 55

***Input2:***  
223  
***Output2:***  
Sum of first 223 natural numbers is: 24976

In [35]:
n = int(input("enter the natural value"))
sum = n*(n+1)//2
print("sum of the first ",n,"value is :",sum)

enter the natural value15
sum of the first  15 value is : 120

## Exercise 5

**Find out the *sum of first n EVEN natural numbers.***  

**Example:**  
If n value is 5, then first 5 even natural numbers are 2, 4, 6, 8, 10  
and their sum 2 + 4 + 6 + 8 + 10 is 30.


**Sample I/O**  

***Input1:***  
10  
***Output1:***  
Sum of first 10 even natural numbers is: 110

***Input2:***  
223  
***Output2:***  
Sum of first 223 even natural numbers is: 49952

In [37]:
n = int(input("enter the natural value"))
sum = n*(n+1)
print("sum of the first ",n,"even number is :",sum)

enter the natural value223
sum of the first  223 even number is : 49952

## Exercise 6

**Find out the *sum of first n ODD natural numbers.***  

**Example:**  
If n value is 5, then first 5 odd natural numbers are 1, 3, 5, 7, 9  
and their sum 1 + 3 + 5 + 7 + 9 is 25.


**Sample I/O**  

***Input1:***  
10  
***Output1:***  
Sum of first 10 odd natural numbers is: 100

***Input2:***  
223  
***Output2:***  
Sum of first 223 odd natural numbers is: 49729

In [43]:
n = int(input("enter the natural value"))
sum = n**2
print("sum of the first ",n,"odd numbers is :",sum)

enter the natural value223
sum of the first  223 odd numbers is : 49729

## Exercise 7

**Find out the *Sum of the following sums***
- First n natural numbers
- First n even natural numbers
- First n odd natural numbers

**Example:**  
If n value is 5, then  
* First 5 natural numbers are 1, 2, 3, 4, 5 and thier sum 1 + 2 + 3 + 4 + 5 is 15  
* First 5 even natural numbers are 2, 4, 6, 8, 10 and their sum 2 + 4 + 6 + 8 + 10 is 30  
* First 5 odd natural numbers are 1, 3, 5, 7, 9 and their sum 1 + 3 + 5 + 7 + 9 is 25

Now ***the sum of above three sums 15 + 30 + 25 is: 70***


**Sample I/O**  

***Input1:***  
10  
***Output1:***  
Sum of sums is: 265

***Input2:***  
223  
***Output2:***  
Sum of sums is: 124657

In [59]:
n = int(input("enter the n value "))
sum = n*(n+1)//2
even = n*(n+1)
odd = n**2
Sum =sum+even+odd
print("sum of sums is :",Sum)

enter the n value 223
sum of sums is : 124657

## Exercise 8

**Find out the *product of the last digits of the given four positive integers.***

**Example:**  
If four positive integers 123, 456, 789, 567 are given, then
* Last digit of 123 --> 3
* Last digit of 456 --> 6
* Last digit of 789 --> 9
* Last digit of 567 --> 7

**and the product of them is 3 x 6 x 9 x 7 = 1134**

**Sample I/O**  

***Input1:***  
101  
123  
14567  
12  
***Output1:***  
Product of 1, 3, 7 and 2 is: 44

***Input2:***  
1<br>11  
21  
31  
***Output2:***  
Product of 1, 1, 1 and 1 is: 1

In [11]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
a1 = a%10
b1 = b%10
c1 = c%10
d1 = d%10
p = a1*b1*c1*d1
print(f"product of {a1},{b1},{c1},{d1} is {p}")

101
123
14567
12
product of 1,3,7,2 is 42

## Exercise 9

**Find out the *SIMPLE INTEREST***  

You'll be given the following values
* Principal Amount (P)
* Time (in years) (T)
* Rate of interest (R)

**You have to calculate the *SIMPLE INTEREST* on *P* for *T* years at *R* interest rate per annum.** 

**Example:**  
if  
**P** --> 10000  
**T** --> 2  
**R** --> 7.0  
Then ***SIMPLE INTEREST IS 1400.00***

**Note:** 
- You have to take R value as float because sometimes the interest rate can be in point values.
- You also have to adjust the output to 2 decimal places after point.

**Sample I/O**  

***Input1:***  
12344  
13  
7.9  
***Output1:***  
Simple Interest on an Amount of 12344 for 13 years at 7.9 percent per annum is: 12677.29

***Input2:***  
1000    
35  
8.3  
***Output2:***  
Simple Interest on an Amount of 1000 for 35 years at 8.3 percent per annum is: 2905.00

In [20]:
# Write your code here
p = int(input())
t = int(input())
r = float(input())
si = p*t*r/100
print(f"simple interest on an amount of {p} for {t} years of {si:.2f}")

1000
35
8.5
simple interest on an amount of 1000 for 35 years of 2975.00

## Exercise 10

**Find out the *area* of a circle.**  

To find out *area* of a circle we should have the radius of that circle *r* with us. 

***Note:***  
* You can use 3.14 as **pi($\pi$)** value
* Also adjust the output to 2 decimal places after point value

**Sample I/O**  

***Input1:***  
5<br>***Output1:***  
Area of a circle with radius 5 is: 78.50


***Input2:***  
35  
***Output2:***  
Area of a circle with radius 35 is: 3846.50

In [3]:
# Write your code here
r = float(input("enter the radius"))
a = 3.14*r**2
print(f"area of a circle with radius {r}is {a:.2f}")

enter the radius5
area of a circle with radius 5.0is 78.50